body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.background {
    background: url(art.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 850px;
    margin-top: -50px;
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
}

.navbar img {
    margin-left: 50px;
    height: 64px;
    width: 64px;
    margin-top: 25px;
}

.button-p {
    height: 50px;
    width: 140px;
    border-radius: 5px;
    background: linear-gradient(135deg, #006466 24%, #186785 50%, #186785 79%, #316AA4 100%);
}

.button-p p {
    color: white;
    text-align: center;
    padding-top: 17.5px;
    font-size: 85%;
}

.s1 {
    margin-left: auto;
    margin-right: 0;
    margin-right: 65px;
    margin-top: -72.5px;
}

.navbar-download {
    text-align: right;
    margin-right: 250px;
    margin-top: -35px;
    color: rgba(255, 255, 255, 0.75);
}

.main-box {
    height: 450px;
    width: 90%;
    margin-left: 8.5%;
    background-color: #ffffff00;
}

.main-box-h1-direct {
    padding-top: 250px;
    font-size: 72px;
    width: 65%;
    margin-left: 65px;
}

.main-box div {
    margin-left: 65px;
}

.main-box-lm {
    margin-left: 250px;
    margin-top: -35px;
}

a {
    color: white;
    text-decoration: none;
}

.learn-more-div {
    background-color: #12131d;
    width: 100%;
    height: 500px;
    margin-top: -25px;
}

.learn-more-div h1 {
    padding-top: 250px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #181922;
    margin-top: -16px;
    text-align: center;
    padding-top: 4.5px;
}